* {
  box-sizing: border-box;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-rows: repeat(2, 300px);
}

.card-img-top {
  display: block;
  height: 100%;
  object-fit: contain;
}

.card-body {
  display: grid;
}

p.card-text {
  overflow: auto;
}
